.gridpane {
    -fx-border-width: 3px;
    -fx-border-color: blue;
    -fx-border-style: solid;
    -fx-border-top: solid red;
    -fx-alignment: center;
    -fx-background-fill: red blue ;
    -fx-background-insets: 0, 1 ;
}
.gridBorder {
    -fx-border-color: red blue;
    -fx-border-width: 12;
    -fx-border-insets: -4;
}
.image {
    float: left;
}
.text-area {
    background-color: white;
}
.text-area .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}
.text-area *.text {
    -fx-text-alignment: center;
}